/* Report Card Styles */
.card-column {
  float: left;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 16px;
}

.card {
  margin: 8px;
}

.card-info {
  padding: 0 16px;
}

.card-info::after,
.card-row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 600px) {
  .card-column {
    width: 33.3%;
  }
}
