/* --- calendar width --- */
.react-calendar {
    width: auto;
    max-width: 100%;
}



/* ~~~ navigation styles ~~~ */
.react-calendar__navigation {
    display: flex;

    .react-calendar__navigation__label {
      font-weight: bold;
    }

    .react-calendar__navigation__arrow {
      flex-grow: 0.333;
    }
  }

  /* ~~~ label styles ~~~ */
  .react-calendar__month-view__weekdays {
    text-align: center;
    background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  }

  /* ~~~ button styles ~~~ */
  button {
    margin: 3px;
    background-color: #6f876f;
    border: 0;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    padding: 5px 0;

    &:hover {
      background-color: #556b55;
    }

    &:active {
      background-color: #a5c1a5;
    }
  }


  /* ~~~ neighboring month & weekend styles ~~~ */
  .react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.7;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #a52020;
  }

  /* ~~~ active day styles ~~~ */
  .react-calendar__tile--range {
    box-shadow: 0 0 6px 2px black;
}



.indicator {
    background-color: #fff;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden; /* Add this to prevent text from going outside */
    text-overflow: ellipsis; /* Add this to truncate text with ellipsis */
    white-space: nowrap; /* Add this to prevent text from wrapping */
  }
  
  .indicator > div {
    margin-bottom: 10px;
    overflow: hidden; /* Add this to prevent text from going outside */
    text-overflow: ellipsis; /* Add this to truncate text with ellipsis */
    white-space: nowrap; /* Add this to prevent text from wrapping */
  }
  
  .indicator > div > span {
    font-weight: bold;
    margin-right: 10px;
  }