.dashboard {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-calendar {
  width: 100%;
  max-width: 800px;
  height: 600px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.react-calendar {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  max-width: 100%;
}

.react-calendar__month-view__weekdays {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.react-calendar__month-view__weekdays > div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}



.react-calendar__tile {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: #333;
}

.react-calendar__tile--hasActive {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__tile--disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.react-calendar__tile--past {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.react-calendar__tile--future {
  background-color: #fff;
  color: #333;
}


.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  overflow: hidden; /* Add this to prevent text from going outside */
  text-overflow: ellipsis; /* Add this to truncate text with ellipsis */
  white-space: nowrap; /* Add this to prevent text from wrapping */
}

.card > div {
  margin-bottom: 10px;
  overflow: hidden; /* Add this to prevent text from going outside */
  text-overflow: ellipsis; /* Add this to truncate text with ellipsis */
  white-space: nowrap; /* Add this to prevent text from wrapping */
}

.card > div > span {
  font-weight: bold;
  margin-right: 10px;
}


.ReactModal__Content.ReactModal__Content--after-open {
  height: fit-content;
  width: fit-content;
}



/* Add mobile-specific styles */
@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column; /* Stack elements vertically */
    padding: 15px; /* Increase padding for better readability */
    margin: 15px; /* Increase margin for better spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Softer box shadow */
  }

  .card > div {
    margin-bottom: 15px; /* Increase margin between elements */
  }

  .card > div > span {
    font-size: 16px; /* Increase font size for better readability */
  }
}